.coming-soon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: gray;
    border-radius: 10px;
    pointer-events: none;
}

.profile-picture{
    width: 10%;
    padding-left: 5%;
}

.top-info{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2%;
}

.top-info h1{
    padding-left: 10%;
}