.coming-soon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    pointer-events: none;
}

body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif; /* Arial */
}

/* top info */

.profile-picture{
    width: 110px;
    border: solid 1px black;
    margin: 1%;
    position: absolute;
}

@media (max-width: 1000px) {
    .profile-picture{
        width: 180px!important;
    }
    .top-info{
        height: 200px!important;
    }
}

.top-info {
    background-color: #2C3E50;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 6px black;
    font-size: 30px;
    display: flex;
    height: 135px;
}

.top-info h1 {
    margin: auto;
    color: #FFFFFF;
}


/* content information */

@media (max-width: 1000px) {
    .information-div{
        font-size: 40px!important;
    }
}

.information-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 20px;
}

.information-div h2{
    position: relative;
    text-align: center;
    font-size: 40px;
}

.information-div p{
    text-align: justify;
}

.about-me{
    text-align: left;
    width: 50%;
}

.qualifications-list{
    text-align: left;
    width: 50%;
}

.experiences-div{
    text-align: left;
    width: 50%;
}

.collapsible {
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.collapsible span{
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.collapsible:hover {
    background-color: rgb(201, 201, 201);
}

.collapsible.active span{
    transform: rotate(90deg);
}

.skill-collapse{
    background-color: #2C3E50;
    color: #FFFFFF;
    margin-top: 1%;
    width: 50%;
    border: 1px solid black;
    align-items: center;
    border-radius:5px;
}

.skill-collapse .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-collapse button{
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.skill-collapse span{
    margin-left: 10%;
}

.content{
    display: none;
    border-top: 1px solid black;
    padding: 0 10px;
    flex-wrap: wrap;
}

.skill{
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: #FFFFFF solid 1px;
    border-radius: 10px;
    text-align: center;
}

.project{
    width: 50%;
}

.contact-list{
    text-align: left;
    width: 50%;
}

#projects a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#personnal-informations a {
    color: black;
    font-style: italic;
    text-decoration: none;
}

#educational-qualifications a{
    color: black;
    font-style: italic;
    text-decoration: none;
}

/* foot-div */

.foot-div{
    background-color: #2C3E50;
    width: 100%;
    height: 15px;
    margin-top: 4px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    font-size: 20px;
    font-weight: normal;
    content: attr(data-title);
    background-color: #FFFFFF;
    color: black;
    padding: 5px;
    position: absolute;
    bottom: +1.6em;
    left: +1.6em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid black;
    visibility: hidden;
}
[data-title] {
    position: relative;
}